---
// MedarbejderCard.astro
const {
  url = "/singleview",
  image = "",
  imageAlt = "",
  name = "",
  role = "",
  bio = "",
  email = "",
  linkedin = "#",
} = Astro.props;
import Heading from "../components/Heading.astro";
---

<a
  href={url}
  class="block w-full no-underline text-inherit"
  aria-label={`Gå til ${name}`}
>
  <div
    class="relative w-full max-w-[360px] mx-auto hover:scale-[1.02] transition-transform duration-300"
  >
    <!-- Outer card -->
    <div
      class="rounded-2xl border-2 border-orange60 bg-beige p-4 flex flex-col gap-4 relative overflow-hidden"
    >
      <!-- Image wrapper (giver indre kant + afrundede hjørner) -->
      <div class="w-full flex justify-center">
        <div class="w-full max-w-[300px] rounded-lg border-2 border-orange60">
          <img
            src={image}
            alt={imageAlt}
            class="w-full h-[300px] object-cover rounded-lg block"
          />
        </div>
      </div>

      <!-- Tekstindhold -->
      <div class="pt-4">
        <Heading htmlheading="h2" size="small">{name}</Heading>

        <p class="text-sm text-primaryblue100 font-semibold mb-2">{role}</p>

        <p class="text-sm text-primaryblue100 leading-relaxed">
          {bio}
        </p>
      </div>

      <!-- email venstr og linkedin ikon nederst højre -->
      <div class="mt-4 flex justify-between">
        <a
          href={`mailto:${email}`}
          class="flex gap-2 text-primaryblue100 text-sm no-underline"
        >
          <!-- email icon -->
          <a href="/" class="">
            <img src="/mail.svg" alt="mail icon" class="h-10" />
          </a>
          <span class="underline text-primaryblue100 pl-3">{email}</span>
        </a>

        <a
          href={linkedin}
          class="flex items-center gap-2"
          aria-label="Til forsiden"
        >
          <img src="/linkedin.svg" alt="Linkedin icon" class="h-20" />
        </a>
      </div>
    </div>
  </div>
</a>
