---
const { url = "/", bg = "", icon = "", iconalt = "", title = "" } = Astro.props;
---

<a href={url} class="block w-full no-underline text-inherit">
  <div
    class="relative w-full max-w-[220px] mx-auto transition-transform duration-300 hover:scale-105"
  >
    <!-- Selve kortet -->
    <div
      class={`rounded-3xl p-30 flex flex-col items-center justify-center h-[400px]  ${bg}`}
    >
      <!-- Illustration -->
      <img
        src={`/${icon}`}
        alt={iconalt}
        class="w-[300px] h-[300px] object-contain"
      />

      <!-- Titel -->
      <p class="text-white tracking-wide">
        {title}
      </p>
    </div>
  </div>
</a>
